<html>

<head>
  <script src="/static/js/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="../../static/css/login.css" type="text/css">
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

  <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <!-- crypto-js包 -->
  <script  type="text/javascript" src="../js/crypto-js.js"></script>
  <!--sm4所需js-->
  <script src="../gmjs/js/utils/hex.js"></script>
  <script src="../gmjs/js/utils/byteUtil.js"></script> 
  <script src="../gmjs/js/crypto/sm4-1.0.js"></script>

  <!--生成密钥js-->
  <script src="../gmjs/js/ext/jsbn.js"></script>
  <script src="../gmjs/js/ext/jsbn2.js"></script>
  <script src="../gmjs/js/ext/prng4.js"></script>
  <script src="../gmjs/js/ext/rng.js"></script>

  <!-- sm3最少依赖包 -->
	<script src="../gmjs/js/crypto/sm3-1.0.js"></script>

	<!-- 这部分包+sm3最少依赖包=sm2需要包	-->
	<script src="../gmjs/js/ext/ec.js"></script>
	<script src="../gmjs/js/ext/ec-patch.js"></script>
	<script src="../gmjs/js/crypto/sm2-1.0.js"></script>

  <script lang="javascript"></script>
</head>

<body class="backgroundUrl2_body">
  <div id="form">
    <form action="index.html" class="login-form">
        <h1>注册</h1>

        <div class="txtb">
            <input id="phone" type="text" />
            <span data-placeholder="Phone"></span>
        </div>
        <div class="txtb">
            <input id="username" type="text" />
            <span data-placeholder="Username"></span>
        </div>
        <div class="txtb">
            <input id="password" type="password" />
            <span data-placeholder="Password"></span>
        </div>
        <div class="txtb">
            <input id="repassword" type="password" />
            <span data-placeholder="Password"></span>
        </div>
        <input type="submit" class="logbtn" value="注册" onclick='onSignup()'/>
    </form>
</div>
</body>

<script lang="javascript">
  // 字体上移及横线颜色波动效果
  $(".txtb input").on("focus", function () {
    $(this).addClass("focus");
  });
  $(".txtb input").on("blur", function () {
  if ($(this).val() == "")
    $(this).removeClass("focus");
  });

  function onSignup() {
    var phone = document.getElementById('phone');
    var username = document.getElementById('username');
    var password = document.getElementById('password');
    var repassword = document.getElementById('repassword');
    if (phone.value.length == 0 || username.value.length == 0) {
      alert("手机号与用户名不能为空")
      return
    } else if (password.value.length < 6) {
      alert("密码长度小于6位");
      return;
    } else if (password.value != repassword.value) {
      alert("密码不一致");
      return;
    }

    var passHash = CryptoJS.MD5(password.value).toString().toUpperCase();
    // 生成口令密钥
    var passKey = CryptoJS.PBKDF2(password.value,username.value,{keySize:128/32}).toString().toUpperCase();
		// 公私密钥对
    var keyPair = generateKeyPair();
    var pubKey = keyPair['pubkeyhex'].toUpperCase();
    var privKey = keyPair['privkeyhex'].toUpperCase();
    // 偏移量
    var iv = "123456789abcdef123456789abcdef12";
    // SM4 CBC加密私钥
    var privKeyCipher = SM4_CBC_Encrypt(privKey, passKey, iv);

    $.ajax({
      url: "/user/signup",
      type: "POST",
      data: {
        "phone": phone.value,
        "username": username.value,
        "password": passHash,
        "pubkey": pubKey,
        "privkey": privKeyCipher
      },
      error: function (jqXHR, textStatus, errorThrown) {
        if (textStatus == "error") {
          alert(textStatus + " : " + errorThrown);
        } else {
          alert(textStatus);
        }
      },
      success: function (data, textStatus, jqXHR) {
        if (data.code == 0) {
          // 成功后跳到登录页
          alert("注册成功");
          window.location.href = '/static/view/signin.html';
        } else {
          alert("注册失败");
        }
      }
    });
  }

  /** 生成密钥对 **/
  function generateKeyPair() {
    var sm2 = new SM2();
    //得到的keypair结构：{'privkeyhex': hPrv, 'pubkeyhex': hPub}
		var keyPair = sm2.generateKeyPairHex();
    return keyPair
  }
  /** SM2加密 **/
  function SM2_Encrypt(pubkey, dataText){
			if(pubkey == "" || pubkey.length < 64){
				alert("公钥为空或错误");
			}
			if(dataText.length <= 0){
				alert("输入数据不能为空");
			}
			var sm2DataHex = Hex.utf8StrToHex(dataText); //转成byte数组
      console.log(sm2DataHex);
                
      //sm2加密
      var sm2 = new SM2();
      var cipher = sm2.encrypt(pubkey,sm2DataHex);//函数输入输出都是16进制数据
      return cipher;
  }
  /** SM2解密 **/
  function SM2_Decrypt(privkey, inputtext) {
			if(privkey == "" || privkey.length < 32){
				alert("私钥为空或错误");
			}

			if(inputtext.length <= 0){
				alert("输入数据不能为空");
			}
                
      //sm2加密
      var sm2 = new SM2();
      var plain = sm2.decrypt(privkey,inputtext);     
			var utf8Str = Hex.hexToUtf8Str(plain);
      return utf8Str;
  }

  /** 生成密钥 **/
  function generateKey(){
		  var rng = new SecureRandom();
		  var keyBit = new BigInteger(128, rng);
		  while(keyBit.bitLength() < 128){
			  keyBit = new BigInteger(128, rng);
		  }
		  var key   = ("0000000000" + keyBit.toString(16)).slice(- 128/4);
			return key.toUpperCase();
	}
  /** SM4 cbc加密 **/
  function SM4_CBC_Encrypt(data, keytext, ivtext) {
				var dataBytes = Hex.utf8StrToBytes(data);
				var key = Hex.decode(keytext);
				var iv = Hex.decode(ivtext);
				
				var sm4 = new SM4();
				var cipher = sm4.encrypt_cbc(key,iv,dataBytes);
        return Hex.encode(cipher,0,cipher.length);
  }
  /** SM4 cbc解密 **/
  function SM4_CBC_Decrypt(data, keytext, ivtext) {
				var dataBytes = Hex.decode(data);
				var key = Hex.decode(keytext);
				var iv = Hex.decode(ivtext);
				
				var sm4 = new SM4();
				var plain = sm4.decrypt_cbc(key,iv,dataBytes);				
        return Hex.bytesToUtf8Str(plain);
  }
</script>

</html>